@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #3c3a39;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}

.navMobile {
  display: none;
  position: absolute;
  padding-top: 50px;
  padding-right: 20px;
}

.fa-xmark {
  font-size: 25px;
}

.navMobileText {
  border-bottom: 1px solid #fff5e1;
  color: #fff5e1;
  font-size: 32px;
  margin: 15px 50px 0 50px;
  font-family: "Inter", sans-serif;
}

#cancel {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0 10px;
}

.landing {
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 100px 15px;
  background-color: #1c1a19;
  color: white;
  background-image: url("resources/Illustration.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* pop up design */

.popupParent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: 0.45s all;
}

.popupMenu {
  background: #fff;
  color: #000;
  padding: 16px;
  margin: 0 12px;
}

.project {
  display: flex;
  gap: 50px;
  margin: 10px 0  40px 0;
}

.project > h2 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.menuList > li {
  border: 1px solid rgba(151, 148, 147, 1);
  padding: 5px;
  margin-bottom: 10px;
}

.popupMenu > p {
  font-size: 16px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
}

.popupBtn {
  display: flex;
  justify-content: space-between;
}

.popupBtn > button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 129px;
  height: 48px;
  font-size: 15px;
}

/* End of popup design */
h1 {
  color: #ff6b00;
  font-size: 56px;
  font-family: "Crete Round", serif;
}

.card-text > p {
  font-family: "Inter", sans-serif;
}

.about > p {
  color: #fff;
  margin: 20px 0;
  font-family: "Inter", sans-serif;
}

.landing > div > p {
  margin: 10px 0;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 5%;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.description {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

#sec2Heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 0;
}

.sec2 > h2 {
  font-family: "Crete Round", serif;
  font-size: 40px;
  margin-bottom: 40px;
}

.underline2 {
  border-bottom: 1px solid black;
}

.sec3 {
  display: grid;
  place-items: center;
  padding: 15px;
}

.card-text > h2 {
  font-family: "Crete Round", serif;
  font-size: 30px;
  margin-bottom: 15px;
}

.about > h2 {
  color: rgba(255, 107, 0, 1);
  font-family: "Crete Round", serif;
  font-size: 60px;
  margin-top: 90px;
}

.card1 > div > h2 {
  font-family: "Crete Round", serif;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
}

.box {
  display: flex;
  margin: 10px 0;
}

.box > li {
  padding: 5px;
  border: 1px solid black;
}

.button1 {
  background-color: rgba(255, 107, 0, 1);
  color: white;
  border: none;
  padding: 10px;
}

.card2 {
  position: relative;
  margin-top: 30px;
}

.card-text {
  position: absolute;
  bottom: 40px;
  padding: 30px;
  color: white;
}

.box2 {
  display: flex;
  margin-top: 15px;
}

.box2 > li {
  background-color: rgba(255, 255, 255, 0.24);
  padding: 5px;
  font-family: "Inter", sans-serif;
}

.button2 {
  background-color: rgba(255, 107, 0, 1);
  color: white;
  border: none;
  padding: 10px;
  width: 330px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.about {
  background-color: #1c1a19;
  background-image: url("resources/Frame.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 90vh;
  padding: 30px;
  margin-top: 120px;
}

.lang {
  display: flex;
  color: white;
  margin-top: 60px;
}

.language {
  text-align: center;
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding-top: 150px;
  padding-bottom: 100px;
}

.list > li {
  margin-top: 20px;
  font-family: "Inter", sans-serif;
}

.list {
  display: flex;
  flex-direction: column;
}

.lang > li > h3 {
  font-size: 25px;
  margin-left: 10px;
  font-family: "Inter", sans-serif;
}

.underline {
  border-bottom: 1px solid white;
  margin-top: 200px;
}

#form-heading {
  text-align: center;
  font-size: 32px;
  line-height: 44px;
  padding: 50px 30px;
  font-family: "Inter", sans-serif;
}

form {
  padding: 0 40px;
}

.form-list {
  display: flex;
  flex-direction: column;
}

.form-list > li {
  list-style-type: none;
}

.input-border {
  border-bottom: 1px solid #dbd8d7;
  margin: 15px 0;
}

li > input,
li > textarea {
  border: none;
  padding: 20px;
  font-family: "Inter", sans-serif;
  outline: none;
  width: 100%;
}

li > textarea {
  background: #fbf8f7;
  font-style: italic;
  width: 100%;
}

.btn-div {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

footer {
  border-top: 1px solid #dfe1e6;
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

.form-icon {
  padding: 30px 0;
  display: flex;
  gap: 20px;
  font-size: 22px;
}

.hide-mobile {
  display: none;
}

.hide-desktop {
  display: block;
}

.navIcon {
  display: none;
}

@media screen and (min-width: 768px) {
  nav > .fa-bars {
    display: none;
  }

  .navIcon {
    display: flex;
    gap: 20px;
  }

  .hide-mobile {
    display: block;
  }

  .hide-desktop {
    display: none;
  }

  header {
    padding: 20px 70px;
    font-family: "Inter", sans-serif;
  }

  header > a {
    font-size: 20px;
  }

  .landing {
    height: 90vh;
    display: flex;
    flex-direction: row;
    padding: 200px 50px;
    background-color: #1c1a19;
    color: white;
    background-image: url("resources/Illustration-header.png");
    background-repeat: no-repeat;
    background-position: right;
  }

  .icons {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-right: 50px;
    gap: 10px;
    font-size: 25px;
  }

  .hey {
    width: 500px;
  }

  h1 {
    color: #ff6b00;
    font-size: 72px;
    font-family: "Crete Round", serif;
  }

  .roboto {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
  }

  .description {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
  }

  .sec2 {
    position: relative;
  }

  .underline2 {
    position: absolute;
    left: 100%;
    bottom: 50%;
    width: 750px;
  }

  .card1 {
    display: flex;
    gap: 10;
  }

  .sec3 {
    padding: 0 200px;
  }

  .card1 > img {
    width: 600px;
  }

  .card1-text {
    margin-left: 15px;
    width: 500px;
  }

  .card1-text > p {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    width: 445px;
  }

  .card2-parent {
    display: none;
  }

  .about {
    background-color: #1c1a19;
    background-image: url("resources/Frame (1).png");
    background-repeat: no-repeat;
    background-position: right;
    height: 90vh;
    padding: 120px 180px;
    margin-top: 120px;
  }

  .about > p {
    color: #fff;
    margin: 20px 0;
    font-family: "Inter", sans-serif;
    width: 470px;
    font-size: 20px;
  }

  .underline {
    border-bottom: 1px solid white;
    margin-top: 100px;
  }

  .language {
    background-color: #1c1a19;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 100px;
    justify-content: center;
    gap: 200px;
  }

  .form {
    display: flex;
    justify-content: center;
  }

  #form-heading {
    text-align: start;
    font-size: 32px;
    line-height: 44px;
    padding: 50px 30px;
    font-family: "Inter", sans-serif;
    width: 400px;
  }

  .list {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  li > input,
  li > textarea {
    border: none;
    padding: 20px;
    font-family: "Inter", sans-serif;
    outline: none;
    width: 600px;
  }

  .btn-div {
    display: block;
    margin: 15px 0;
  }

  #sec2Heading {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 120px 0;
    padding: 0 200px;
  }

  .card2-parent-desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .img {
    width: 330px;
  }

  .card2:hover .card-text {
    display: none;
  }

  .button2 {
    display: none;
  }

  .card2:hover .button2 {
    display: block;
  }

  .card2:hover {
    background-image: url("resources/Img Placeholder (2).png");
  }

  .b {
    display: none;
  }

  .card2:hover .b {
    display: block;
  }

  .card2:hover .a {
    display: none;
  }
}
